{
    "name": "acme/component",
    "description": "",
    "type": "library",
    "keywords": [],
    "license": "MIT",
    "authors": [
        {
            "name": "John Smith",
            "email": "john@example.com"
        }
    ],

    "require": {
        "php": ">=5.4"
    },

    "require-dev": {
        "phpunit/phpunit": "~4.4",
        "satooshi/php-coveralls": "dev-master"
    },

    "autoload":     {
        "psr-4": { "Acme\\Component\\": "src/" }
    },

    "extra": {
        "branch-alias": {
            "dev-master": "0.1.x-dev"
        }
    },

    "minimum-stability": "dev"
}
